/* Variables */
:root {
  --nav-bg: #292b2c;
  --primary-clr: #008ed6;
  --icon-size: 2em;
}

/* Header section */
.navbar {
  background-color: var(--nav-bg);
  border-bottom: 3px solid var(--primary-clr);
  opacity: 0.7;
}

/* Home section */
#home-section {
  background-image: url(../assets/hero-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: top;
  background-attachment: fixed;
  min-height: 700px;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.7);
  padding-top: 150px;
  min-height: 700px;
}

.card {
  opacity: 0.7;
}

.fa-check {
  color: var(--primary-clr);
  background-color: white;
  font-size: var(--icon-size);
  padding: 4px;
  border-radius: 5px;
}

/* Explore section & Share section*/
#explore-main-section .fa-check,
#share-main-section .fa-check {
  background-color: var(--nav-bg);
  color: white;
}

/* Footer section */
footer a:hover {
  color: #e4ad07 !important;
  text-decoration: underline !important;
}
